.header {
    display: flex;
    flex-flow: row;
    align-items: baseline;
    font-size: 2.5em;
    padding-bottom: 8px;
    position: relative;
}

.header .fuente-principal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header .navegacion svg {
    color: var(--color-primario);
}