#carouselPresentacion {
    height: 100vh;
}

#carouselPresentacion .carousel-inner, 
#carouselPresentacion .carousel-item {
    max-height: 100vh !important;
    height: 100vh !important;
}

.letra {
    font-family: var(--fuente-secundaria);

    color: lime
}

.logolink {
    opacity: 0;
}

.primero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}